.layout {
  height: 100%;
  width: 100%;
  display: flex;

  flex-direction: row;
}

.layout__sidebar {
  display: flex;
  width: 22%;
  height: 100%;
  flex-shrink: 0;
}

.layout__main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
